.app-wrapper {
  position: relative;
  width: 750px;
  margin: 0 auto;
}

.dashboard {
  width: 100%;
  height: 100vh;
  background: url('../assets/images/dashboard-mock-up.png') no-repeat;
  background-size: 100%;
}

left-blinker {
  position: absolute;
  top: 60px;
  left: 0;
}


right-blinker {
  position: absolute;
  top: 60px;
  right: 0;
}