.app-wrapper {
  position: relative;
  overflow: auto;
}

left-blinker {
  position: absolute;
  top: 13vh;
  left: 5vh;
}

#dash{
  height: 100vh;
  width: 100%;
}

right-blinker {
  position: absolute;
  top: 13vh;
  right: 5vw;
}

engine-warning  {
  position: absolute;
  top: 52vh;
  right: 76.5vw;
}

fog-lamp {
  position: absolute;
  top: 34vh;
  left: 21vw;
}

handbrake {
  position: absolute;
  top: 43vh;
  left: 27vw;
}

